<!DOCTYPE html>
{% extends 'restaurant/base.html'  %}
{% load static %}
{% block content %}
<!-- Why Us Section -->
<section id="why-us" class="why-us section" style="min-height: 100vh; padding: 20px 0; margin-top: 120px;">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2></h2>
        <p>О ресторане</p>
    </div><!-- End Section Title -->

    <div class="container">
        <div>
            <h3>История:</h3>
            <div id="specials" class="p-5 my-5"
                 style="border-radius: 10px; width: 155vh; opacity: 0.7; background-color: #ffffff; color: black">
                <p class="m-auto" style="font-size: 20px;">История ресторана берет свое начало.....
                </p>
            </div>
        </div>
    </div>

</section><!-- /Why Us Section -->

{% endblock %}
