{% extends 'restaurant/base.html' %}

{% block content %}

<div class="form-content my-3 p-3">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center"
             style="min-height: 70vh; padding: 20px 0;">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
                        <div id="error_div"></div>
                        <h1 class="font-weight-light my-4 text-center text-dark">Сброс пароля</h1>
                    </div>
                    {% if validlink %}
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}

                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group my-3">
                                            <label class="small mb-2" for="id_new_password1">Новый пароль</label>
                                            <input type="password" name="new_password1" autocomplete="new-password"
                                                   class="form-control" required id="id_new_password1"
                                                   placeholder="Введите пароль"/>
                                            <span>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group">
                                            <label class="small mb-2" for="id_new_password2">Подтверждение
                                                пароля</label>
                                            <input type="password" name="new_password2" autocomplete="new-password"
                                                   required id="id_new_password2" class="form-control"
                                                   placeholder="Подтвердите пароль"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group my-4">
                                            <button type="submit" class="col-md-12 btn btn-dark" id="reset">Сбросить
                                                пароль
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <div class="alert alert-warning">
                        Ссылка для сброса пароля была неверной, возможно, потому, что она уже использовалась.
                        Пожалуйста, запросите новый сброс пароля.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
