{% extends 'restaurant/base.html' %}

{% block content %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row d-flex flex-column justify-content-center align-items-center"
             style="min-height: 70vh; padding: 20px 0;">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
                        <div id="error_div"></div>
                        <h1 class="font-weight-light my-4 text-center text-dark">Забыли пароль?</h1>
                    </div>
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <label class="small mb-1" for="id_email">Email</label>
                                        <input type="email" name="email" class="form-control"
                                               autocomplete="email" maxlength="254" required id="id_email"
                                               placeholder="Введите email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-3 mb-1">
                                        <a href="{% url 'users:password_reset_done' %}">
                                            <button type="submit" class="col-md-12 mx-auto btn btn-dark d-block">Сбросить пароль
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="mb-3 mt-3">
                            <a href="{% url 'users:login' %}">
                                <button type="submit" class="col-md-10 btn btn-outline-dark">Вход</button>
                            </a><br>
                            <a href="{% url 'users:register' %}">
                                <button type="submit" class="col-md-10 btn btn-outline-dark mt-2">Регистрация</button>
                            </a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
