{% extends "restaurant/base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'restaurant:index' %}">{% translate 'Главная' %}</a>
    &rsaquo; {% translate 'Пароль сброшен' %}
</div>
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 50vh; padding: 20px 0;">
    <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
            <div class="card text-center">
                <div class="my-3">
                    <h5 class="font-weight-light my-4 px-4 text-center text-dark">
                        Вы установили новый пароль. Теперь вы можете войти в свой аккаунт</h5>
                    <a href="{% url 'users:login' %}">
                        <button type="submit" class="btn btn-dark mb-3">Перейти на страницу авторизации</button>
                    </a><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
